.Form{
    display: flex;
    justify-content: space-between;
}
.Form>div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Form button{
    width: 100px;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
}
.Form button:first-child{
    background: lightsteelblue;
}
.Form input{
    width: 300px;
    margin-bottom: 7px;
    height: 20px;
    font-size: 16px;
}
.Form textarea{
    width: 100%;
    height: 50px;
}