.Task{
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}
.group2{
    display: flex;
    align-items: center;
}
.group2>div{
    display: flex;
    align-items: center;
}
.btn_delete{
    background: #ff2626;
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left: 30px;
}
@media (max-width: 500px) {
    .btn_delete{
        margin-left: 20px;
    }
}
@media (max-width: 400px) {
    .btn_delete{
        margin-left: 10px;
    }
}